/* ==========================================================================
   Sections
   ========================================================================== */
   section{
}
.hide { display: none;}
.main-section{
    display: block;
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 9999;    
}

.title {
   
    font-size: 3em;
    letter-spacing: 3px;
    position: relative;
    display: block;
    line-height: 1em;
    margin: 0 auto;

}

.subtitle
{
    margin: 0 auto;
    line-height: 1.4em;
    font-size: 2em;
    letter-spacing: 3px;
    position: relative;
    display: block;
}
.logo{
    padding: 5px 0;
    width: 70px;

}
.menu-title{
    text-align:center;
      border-bottom:1px solid #D8D9DA;
      margin-bottom: 5px;
      margin-top: 0px;
}
.menu-title span{
        display:inline-block;
        text-transform:uppercase;           
        text-shadow: 0 1px 0 rgba(#7D776C, .5);
       
        position:relative;
        top:11px;
        background-color: #D8D9DA; 
        padding:0 12px;
      }

.project-sub-title{
    margin: 0;
    font-family: verdana;
    font-size: 11px;
    width: 90%;
}

/* ==============
    Unordered list
   ============== */

.item-body ul{
    font-size: 2.5em;
    list-style: none;
}
.item-body ul li{ 
    line-height: 14px;
}

.project-list li{
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    padding: 0 2px;
   
}
@media only screen and (min-width: 768px) {
    .project-list li{
       width: 32%;

    }
}

@media only screen and (max-width: 767px) {
    .video-links {        
        width: 100%;
    }
}

.upper-links li a{
    color: #000;
    text-decoration: none;
    display: inline-block;    
}

.show-data li span{
    float: right;
    opacity: 0.4;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 2em;   
    text-align: center;
}
    
/* ==============
    Links
   ============== */
.upper-links li:hover{ 
    background-color: #AED3FF;
}

.social-links div{    
    display: inline-block;
    clear: both;
    margin: 0 auto;
    line-height: 12px;
    vertical-align: top;
padding: 0 3px;
}

.share {
    display: inline-block;
}

/* ==============
    Responsive Video
   ============== */

.video-links {    
    position: relative;    
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    
}
 
video.video-links {
    width: 100%;
    height: 100%;
}

/* ==============
    Video Buttons
   ============== */

button {
    height: 40px;
    width: 65px;    
    background-color: rgba(65, 63, 63, 1.0);
    border-color: rgba(65, 63, 63, 0.8);
    position: relative;
    margin: 5px;
    -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

button:hover {
    background-color: rgba(70, 147, 240, 0.9);
    border-color: rgba(70, 147, 240, 0.8);
}
.pause:after {
    display: block;
    margin: 2px 0 0 3px;
    position: absolute;
    top: 7px;
    left: 22px;
    width: 3px;
    height: 17px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #fff;
    border-left: 4px solid #fff;
    content: "";
}

.stop-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 8.5px;
    left: 22px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0px 9.5px 17px;
    border-color: rgba(255, 255, 255, 1);
}
.play:after {
    content: "";
    display: block;
    position: absolute;
    top: 8.5px;
    left: 23px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

