.mtt_css_social_network_text{
    font-size: smaller;
    color: #9B9B9B;
    padding-right: 5px;
    text-decoration:none;
  }
  
  .mtt_css_website_link{
    text-decoration:none;
    color: #009ACD;
  
  }
  
  .mtt_css_larger_font{
   font-size: larger;
   padding-bottom: 6px;
  }
  
  .mtt_css_image_frame {
  padding: 3px; 
  background: whiteSmoke; 
  border: 1px solid white; 
  outline: 1px solid #EAEAEA; 
  vertical-align: text-top;
  }
  
  /** WIDGET **/
  .mtt_css_member_list {
    
  }
  
  .mtt_css_member_list active_member {
     background-color: #9B9B9B;
  }
  
  .mtt_css_member {
    color: #009ACD;  
    text-decoration:none;
  }
  
  .mtt_css_member active_member {
   padding-right: 5px;
   color: #ff0000;
  }
  
  /** END WIDGET **/
  
  /** LAYOUT 2 **/
  .mtt_css_employees {
     width: 100%;
  }
  .mtt_css_employees li {
          display: inline;
          list-style: none;        
          min-height: 175px;
          float: left;
          text-align: center;
          padding: 2px;
      }
  
  .mtt_css_employees .headshot {
  display: block;
  overflow: hidden;
  background-color: white;
  padding: 5px;
  border: 1px solid #D9D9D9;
  border-right-color: #9B9B9B;
  border-bottom-color: #9B9B9B;
  }
  
  .mtt_css_employees .employee-tags {
  padding: 0px;
  text-align: left;
  }
  /** END LAYOUT 2 **/
  